<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jadmin.mapper.SafeAreaMapper">
	
	<resultMap id="BaseResultMap" type="SafeArea">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="user_id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="lat" property="lat" jdbcType="VARCHAR" />
		<result column="lng" property="lng" jdbcType="VARCHAR" />
		<result column="radius" property="radius" jdbcType="INTEGER" />
     	<result column="uploadtime" property="uploadtime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, user_id, lat,lng,radius,name, uploadtime
	</sql>

	<select id="queryUserListPage" parameterType="page" resultMap="BaseResultMap" useCache="false">
		select
		<include refid="Base_Column_List" />
		from safe_area
		where 1=1
		<if test="pd.user_id != null and pd.user_id != ''">
			and user_id like '%${pd.user_id}%'
		</if>
		
		order by id desc
	</select>

	<select id="queryUserList" parameterType="pd" resultMap="BaseResultMap" useCache="false">
		select
		<include refid="Base_Column_List" />
		from safe_area
	</select>

	<select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap" useCache="false">
		select
		<include refid="Base_Column_List" />
		from safe_area
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap" useCache="false">
		select
		<include refid="Base_Column_List" />
		from safe_area
		where lat = #{lat,jdbcType=VARCHAR}
	</select>

	<select id="validateUserName" parameterType="pd" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from safe_area
		where 1=1
		<if test="user_id != null and user_id != ''">
			and user_id != #{user_id,jdbcType=INTEGER}
		</if>
	</select>

	<insert id="insert" parameterType="SafeArea" useGeneratedKeys="true" keyProperty="id">
		insert into safe_area
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="user_id != null">
				user_id,
			</if>
			<if test="lat != null">
				lat,
			</if>
			<if test="lng != null">
				lng,
			</if>
			<if test="radius != null">
				radius,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="uploadtime != null">
				uploadtime,
			</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="user_id != null">
				#{user_id,jdbcType=INTEGER},
			</if>
			<if test="lat != null">
				#{lat,jdbcType=VARCHAR},
			</if>
			<if test="lng != null">
				#{lng,jdbcType=VARCHAR},
			</if>
			<if test="radius != null">
				#{radius,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="uploadtime != null">
				#{uploadtime,jdbcType=TIMESTAMP},
			</if>
			
		</trim>
	</insert>
	
	<update id="update" parameterType="SafeArea">
		update safe_area
		<set>
			<if test="radius != null">
				radius = #{radius,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<delete id="deleteByUserId" parameterType="java.lang.Integer">
		delete from safe_area
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
</mapper>